<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waffle</title>
</head>
<body>
<div>
    <h1>Testing another page for search.</h1>
    <p>apple banana orange strawberry grape mango pineapple watermelon.</p>
    <p>carrot broccoli spinach tomato cucumber potato avocado.</p>
    <p>cat dog bird fish hamster rabbit parrot turtle.</p>
    <p>programming code software developer algorithm database.</p>
    <p>mountain beach forest desert canyon river waterfall.</p>
</div>


</body>
</html>